.container2{
    border: 2px solid black;
    width: 250px;
    height: 200px;
    margin: 10px;
    text-align: center;


}

body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#container{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.body-container{
    border: 2px solid black;
    width: 80%;
}