.box{
    width: 49vw;
    height: 50vh;
    border: 2px solid rgb(17, 16, 16);
    display: inline-block;
    background-color: aqua;
    margin-left: 7px;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: bisque;
}

.box>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
