.table-cont{
    
    width: 100%;
    border-collapse: collapse;
    
}
table>thead>tr{
    background-color: brown;
    color: white;
}

table>tbody>tr:nth-child(2n){
    background-color: silver;
}

body{
    display: flex;
    align-items: center;
}

